#texto {
    color: #333;
    font-size: 95px;
}

button {
    padding: 20px 45px;
    background-color: #22aa5b;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
}
body{
    text-align: center;
}