@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", serif;
}

#contagem {
    color: orange; /* Ou vermelho para mais urgência */
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}